
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuto_tiempo_pruebaLabel">Create or edit a Auto Tiempo Prueba</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.auto_tiempo_prueba.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.auto_tiempo_prueba.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_id_auto">Id Auto</label>
            <select class="form-control" id="field_id_auto" name="id_auto" ng-model="vm.auto_tiempo_prueba.id_autoId" ng-options="auto.id as auto.id for auto in vm.autos"             required>
            </select>
        </div>
        <div ng-show="editForm.id_auto.$invalid">
            <p class="help-block"
                ng-show="editForm.id_auto.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_id_tiempos">Id Tiempos</label>
            <select class="form-control" id="field_id_tiempos" name="id_tiempos" ng-model="vm.auto_tiempo_prueba.id_tiemposId" ng-options="tiempos.id as tiempos.id for tiempos in vm.id_tiempos | orderBy:'id'" required>
            </select>
        </div>
        <div ng-show="editForm.id_tiempos.$invalid">
            <p class="help-block"
                ng-show="editForm.id_tiempos.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_id_prueba">Id Prueba</label>
            <select class="form-control" id="field_id_prueba" name="id_prueba" ng-model="vm.auto_tiempo_prueba.id_pruebaId" ng-options="pruebas.id as pruebas.id for pruebas in vm.pruebas"             required>
            </select>
        </div>
        <div ng-show="editForm.id_prueba.$invalid">
            <p class="help-block"
                ng-show="editForm.id_prueba.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
