
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAutoCarreraLabel">Create or edit a Auto Carrera</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.autoCarrera.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.autoCarrera.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_auto">Auto</label>
            <select class="form-control" id="field_auto" name="auto" ng-model="vm.autoCarrera.autoId" ng-options="auto.id as auto.id for auto in vm.autos"             required>
            </select>
        </div>
        <div ng-show="editForm.auto.$invalid">
            <p class="help-block"
                ng-show="editForm.auto.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_carrera">Carrera</label>
            <select class="form-control" id="field_carrera" name="carrera" ng-model="vm.autoCarrera.carreraId" ng-options="carrera.id as carrera.id for carrera in vm.carreras"             required>
            </select>
        </div>
        <div ng-show="editForm.carrera.$invalid">
            <p class="help-block"
                ng-show="editForm.carrera.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
