
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCarreraEtapaLabel">Create or edit a Carrera Etapa</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.carreraEtapa.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.carreraEtapa.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_id_carrera">Id Carrera</label>
            <select class="form-control" id="field_id_carrera" name="id_carrera" ng-model="vm.carreraEtapa.id_carreraId" ng-options="carrera.id as carrera.id for carrera in vm.carreras"             required>
            </select>
        </div>
        <div ng-show="editForm.id_carrera.$invalid">
            <p class="help-block"
                ng-show="editForm.id_carrera.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_id_etapa">Id Etapa</label>
            <select class="form-control" id="field_id_etapa" name="id_etapa" ng-model="vm.carreraEtapa.id_etapaId" ng-options="etapa.id as etapa.id for etapa in vm.etapas"             required>
            </select>
        </div>
        <div ng-show="editForm.id_etapa.$invalid">
            <p class="help-block"
                ng-show="editForm.id_etapa.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
